PipeLine_Template/main-template.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"},"Athleteslink":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"},"CoachesHTTP":{"type":"string"},"HttpServer3":{"type":"string"},"HttpServer4":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/main-template')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Execute-import","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"olympics-datapipeline","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"FinalData","type":"DatabricksNotebook","dependsOn":[{"activity":"FilteringColumns","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/harshanrajslm@gmail.com/Olympics-Data"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"FilteringColumns","type":"ExecuteDataFlow","dependsOn":[{"activity":"Execute-import","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"DataCLeaning","type":"DataFlowReference","parameters":{},"datasetParameters":{"BromzeAthletes":{},"BrinzeCoaches":{},"BronzeMedallist":{},"BronzeTeams":{},"AthletesDestin":{},"CoachesDestin":{},"MedallistDestin":{},"TeamsDestin":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-10-09T17:27:32Z"},"dependsOn":["[concat(variables('factoryId'), '/pipelines/olympics-datapipeline')]","[concat(variables('factoryId'), '/dataflows/DataCLeaning')]"]},{"name":"[concat(parameters('factoryName'), '/olympics-datapipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"AthletesImport","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AthletesGit","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"AthletesBronze","type":"DatasetReference","parameters":{}}]},{"name":"CoachesImport","type":"Copy","dependsOn":[{"activity":"AthletesImport","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"CoachesGit","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CoachesBronze","type":"DatasetReference","parameters":{}}]},{"name":"Medallist","type":"Copy","dependsOn":[{"activity":"CoachesImport","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"GITMedallis","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"MedallistBronze","type":"DatasetReference","parameters":{}}]},{"name":"TeamsImport","type":"Copy","dependsOn":[{"activity":"Medallist","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"GITTeams","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Bronzeeteamsfromgit","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-10-03T17:42:31Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AthletesGit')]","[concat(variables('factoryId'), '/datasets/AthletesBronze')]","[concat(variables('factoryId'), '/datasets/CoachesGit')]","[concat(variables('factoryId'), '/datasets/CoachesBronze')]","[concat(variables('factoryId'), '/datasets/GITMedallis')]","[concat(variables('factoryId'), '/datasets/MedallistBronze')]","[concat(variables('factoryId'), '/datasets/GITTeams')]","[concat(variables('factoryId'), '/datasets/Bronzeeteamsfromgit')]"]},{"name":"[concat(parameters('factoryName'), '/DataCLeaning')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"BronzeAthletes","type":"DatasetReference"},"name":"BromzeAthletes"},{"dataset":{"referenceName":"BronzeCoaches","type":"DatasetReference"},"name":"BrinzeCoaches","description":"Import data from BtonzeCoaches"},{"dataset":{"referenceName":"BronzeMedallist","type":"DatasetReference"},"name":"BronzeMedallist","description":"Import data from bronze medallist"},{"dataset":{"referenceName":"BronzeTeams","type":"DatasetReference"},"name":"BronzeTeams","description":"Import data from bronze Teams"}],"sinks":[{"dataset":{"referenceName":"SilverAthletes","type":"DatasetReference"},"name":"AthletesDestin","description":"Athletes silver destination"},{"dataset":{"referenceName":"SilverCoaches","type":"DatasetReference"},"name":"CoachesDestin","description":"Coaches to silver Destin"},{"dataset":{"referenceName":"SilverMedallist","type":"DatasetReference"},"name":"MedallistDestin","description":"Medallist silver destin"},{"dataset":{"referenceName":"SilverTeams","type":"DatasetReference"},"name":"TeamsDestin","description":"Teams silver Destin"}],"transformations":[{"name":"FilterAthletes","description":"Choosing only the desired columns"},{"name":"FilterMedallists","description":"Choosing the desired columns"},{"name":"FilterTeams","description":"Choosing the desired columns"}],"scriptLines":["source(output(","          code as integer,","          name as string,","          name_short as string,","          name_tv as string,","          gender as string,","          function as string,","          country_code as string,","          country as string,","          country_full as string,","          nationality as string,","          nationality_full as string,","          nationality_code as string,","          height as short,","          weight as double,","          disciplines as string,","          events as string,","          birth_date as string,","          birth_place as string,","          birth_country as string,","          residence_place as string,","          residence_country as string,","          nickname as string,","          hobbies as string,","          occupation as string,","          education as string,","          family as string,","          lang as string,","          coach as string,","          reason as string,","          hero as string,","          influence as string,","          philosophy as string,","          sporting_relatives as string,","          ritual as string,","          other_sports as string","     ),","     allowSchemaDrift: false,","     validateSchema: true,","     ignoreNoFilesFound: false) ~> BromzeAthletes","source(output(","          code as string,","          name as string,","          name_short as string,","          name_tv as string,","          gender as string,","          function as string,","          country_code as string,","          country as string,","          country_full as string,","          nationality as string,","          nationality_full as string,","          nationality_code as string,","          height as string,","          weight as string,","          disciplines as string,","          events as string,","          birth_date as string,","          birth_place as string,","          birth_country as string,","          residence_place as string,","          residence_country as string,","          nickname as string,","          hobbies as string,","          occupation as string,","          education as string,","          family as string,","          lang as string,","          coach as string,","          reason as string,","          hero as string,","          influence as string,","          philosophy as string,","          sporting_relatives as string,","          ritual as string,","          other_sports as string","     ),","     allowSchemaDrift: false,","     validateSchema: true,","     ignoreNoFilesFound: false) ~> BrinzeCoaches","source(output(","          medal_date as string,","          medal_type as string,","          medal_code as string,","          name as string,","          gender as string,","          country as string,","          country_code as string,","          nationality as string,","          team as string,","          team_gender as string,","          discipline as string,","          event as string,","          event_type as string,","          url_event as string,","          birth_date as string,","          code as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false,","     partitionBy('hash', 1)) ~> BronzeMedallist","source(output(","          code as string,","          team as string,","          team_gender as string,","          country as string,","          country_full as string,","          country_code as string,","          discipline as string,","          disciplines_code as string,","          events as string,","          athletes as string,","          coaches as string,","          athletes_codes as string,","          num_athletes as string,","          coaches_codes as string,","          num_coaches as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false,","     partitionBy('hash', 1)) ~> BronzeTeams","BromzeAthletes select(mapColumn(","          code,","          name,","          gender,","          country_code,","          country_full,","          height,","          weight,","          disciplines,","          events,","          birth_date,","          coach","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> FilterAthletes","BronzeMedallist select(mapColumn(","          medal_type,","          name,","          gender,","          country,","          country_code,","          team,","          discipline,","          event,","          birth_date,","          code","     ),","     partitionBy('hash', 1),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> FilterMedallists","BronzeTeams select(mapColumn(","          code,","          team,","          team_gender,","          country_full,","          country_code,","          discipline,","          events,","          athletes,","          coaches,","          athletes_codes,","          num_athletes,","          coaches_codes,","          num_coaches","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> FilterTeams","FilterAthletes sink(allowSchemaDrift: true,","     validateSchema: false,","     partitionFileNames:['AthletesSilver'],","     truncate: true,","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('hash', 1)) ~> AthletesDestin","BrinzeCoaches sink(allowSchemaDrift: true,","     validateSchema: true,","     partitionFileNames:['CoachesSilver'],","     truncate: true,","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('hash', 1)) ~> CoachesDestin","FilterMedallists sink(allowSchemaDrift: true,","     validateSchema: false,","     partitionFileNames:['MedallistSilver'],","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('hash', 1)) ~> MedallistDestin","FilterTeams sink(allowSchemaDrift: true,","     validateSchema: false,","     partitionFileNames:['SilverTeams'],","     truncate: true,","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('hash', 1)) ~> TeamsDestin"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/BronzeAthletes')]","[concat(variables('factoryId'), '/datasets/BronzeCoaches')]","[concat(variables('factoryId'), '/datasets/BronzeMedallist')]","[concat(variables('factoryId'), '/datasets/BronzeTeams')]","[concat(variables('factoryId'), '/datasets/SilverAthletes')]","[concat(variables('factoryId'), '/datasets/SilverCoaches')]","[concat(variables('factoryId'), '/datasets/SilverMedallist')]","[concat(variables('factoryId'), '/datasets/SilverTeams')]"]},{"name":"[concat(parameters('factoryName'), '/AthletesGit')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Athleteslink')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AthletesBronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Athletes","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"code","type":"String"},{"name":"name","type":"String"},{"name":"name_short","type":"String"},{"name":"name_tv","type":"String"},{"name":"gender","type":"String"},{"name":"function","type":"String"},{"name":"country_code","type":"String"},{"name":"country","type":"String"},{"name":"country_full","type":"String"},{"name":"nationality","type":"String"},{"name":"nationality_full","type":"String"},{"name":"nationality_code","type":"String"},{"name":"height","type":"String"},{"name":"weight","type":"String"},{"name":"disciplines","type":"String"},{"name":"events","type":"String"},{"name":"birth_date","type":"String"},{"name":"birth_place","type":"String"},{"name":"birth_country","type":"String"},{"name":"residence_place","type":"String"},{"name":"residence_country","type":"String"},{"name":"nickname","type":"String"},{"name":"hobbies","type":"String"},{"name":"occupation","type":"String"},{"name":"education","type":"String"},{"name":"family","type":"String"},{"name":"lang","type":"String"},{"name":"coach","type":"String"},{"name":"reason","type":"String"},{"name":"hero","type":"String"},{"name":"influence","type":"String"},{"name":"philosophy","type":"String"},{"name":"sporting_relatives","type":"String"},{"name":"ritual","type":"String"},{"name":"other_sports","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CoachesGit')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('CoachesHTTP')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CoachesBronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Coaches","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/GITMedallis')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('HttpServer3')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/MedallistBronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Medallist","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/GITTeams')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('HttpServer4')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Bronzeeteamsfromgit')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Teams","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/BronzeAthletes')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Athletes","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"code","type":"String"},{"name":"name","type":"String"},{"name":"name_short","type":"String"},{"name":"name_tv","type":"String"},{"name":"gender","type":"String"},{"name":"function","type":"String"},{"name":"country_code","type":"String"},{"name":"country","type":"String"},{"name":"country_full","type":"String"},{"name":"nationality","type":"String"},{"name":"nationality_full","type":"String"},{"name":"nationality_code","type":"String"},{"name":"height","type":"String"},{"name":"weight","type":"String"},{"name":"disciplines","type":"String"},{"name":"events","type":"String"},{"name":"birth_date","type":"String"},{"name":"birth_place","type":"String"},{"name":"birth_country","type":"String"},{"name":"residence_place","type":"String"},{"name":"residence_country","type":"String"},{"name":"nickname","type":"String"},{"name":"hobbies","type":"String"},{"name":"occupation","type":"String"},{"name":"education","type":"String"},{"name":"family","type":"String"},{"name":"lang","type":"String"},{"name":"coach","type":"String"},{"name":"reason","type":"String"},{"name":"hero","type":"String"},{"name":"influence","type":"String"},{"name":"philosophy","type":"String"},{"name":"sporting_relatives","type":"String"},{"name":"ritual","type":"String"},{"name":"other_sports","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/BronzeCoaches')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Coaches","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"code","type":"String"},{"name":"name","type":"String"},{"name":"name_short","type":"String"},{"name":"name_tv","type":"String"},{"name":"gender","type":"String"},{"name":"function","type":"String"},{"name":"country_code","type":"String"},{"name":"country","type":"String"},{"name":"country_full","type":"String"},{"name":"nationality","type":"String"},{"name":"nationality_full","type":"String"},{"name":"nationality_code","type":"String"},{"name":"height","type":"String"},{"name":"weight","type":"String"},{"name":"disciplines","type":"String"},{"name":"events","type":"String"},{"name":"birth_date","type":"String"},{"name":"birth_place","type":"String"},{"name":"birth_country","type":"String"},{"name":"residence_place","type":"String"},{"name":"residence_country","type":"String"},{"name":"nickname","type":"String"},{"name":"hobbies","type":"String"},{"name":"occupation","type":"String"},{"name":"education","type":"String"},{"name":"family","type":"String"},{"name":"lang","type":"String"},{"name":"coach","type":"String"},{"name":"reason","type":"String"},{"name":"hero","type":"String"},{"name":"influence","type":"String"},{"name":"philosophy","type":"String"},{"name":"sporting_relatives","type":"String"},{"name":"ritual","type":"String"},{"name":"other_sports","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/BronzeMedallist')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Medallist","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"medal_date","type":"String"},{"name":"medal_type","type":"String"},{"name":"medal_code","type":"String"},{"name":"name","type":"String"},{"name":"gender","type":"String"},{"name":"country","type":"String"},{"name":"country_code","type":"String"},{"name":"nationality","type":"String"},{"name":"team","type":"String"},{"name":"team_gender","type":"String"},{"name":"discipline","type":"String"},{"name":"event","type":"String"},{"name":"event_type","type":"String"},{"name":"url_event","type":"String"},{"name":"birth_date","type":"String"},{"name":"code","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/BronzeTeams')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Teams","folderPath":"bronze_raw","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"code","type":"String"},{"name":"team","type":"String"},{"name":"team_gender","type":"String"},{"name":"country","type":"String"},{"name":"country_full","type":"String"},{"name":"country_code","type":"String"},{"name":"discipline","type":"String"},{"name":"disciplines_code","type":"String"},{"name":"events","type":"String"},{"name":"athletes","type":"String"},{"name":"coaches","type":"String"},{"name":"athletes_codes","type":"String"},{"name":"num_athletes","type":"String"},{"name":"coaches_codes","type":"String"},{"name":"num_coaches","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SilverAthletes')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"silver_improved/AthletesPQT","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SilverCoaches')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"silver_improved/CoachesPQT","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SilverMedallist')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"silver_improved/MedallistPQT","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SilverTeams')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"silver_improved/TeamsPQT","fileSystem":"olympics-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}